*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

html{
	font-size: 93.75%;
}


body{
	background-color: #dcdcdc;
	font-family: 'Poppins', Arial, 
	Sans-Serif;
}

/*HEADER ############*/
header{
	text-align: center;
	width: 100%;
	height: 15rem;

	background-color: #167be0;

	
}
header h1{
	color:#dcdcdc;
}

#lista, #form{
	display: flex;
	justify-content: center;
}

#lista{
	padding-top: 3rem;
}